@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
}
.nav_bar1{
    margin-top: 0px;
    position: fixed;
    background-color: white ;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    /* position: fixed; */
    
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
}
.logo img{
    width: 40px;
    margin-left: 40px;
    margin-top:10px ;
}
.nav_item{
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
}
.nav_content{
    margin-left: 15px;
    width: 640px;
    display: flex;
    /* background-color: red; */
}
.nav_item1, .nav_item2, .nav_item3, .nav_item4, .nav_menu{
    display: flex;
    flex: 1;
/* width: 160px; */
    justify-content: center;
    /* background-color: blueviolet; */
}
.nav_menu{
    display: none;
}
.dropdown_menu{
    display: none;
    /* background-color: aliceblue; */
    width: 100%;
}
.dropdown_menu a{
    text-decoration: none;
}

.bi-caret-down-fill{
    font-size: 12px;
    margin-top: 3px;
    margin-left: 2px;
}
.nav_content div:hover{
    background-color: #04AA6D;
    color: white;
}
.search{
    width: fit-content;
    /* background-color: blue; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 1px;
}
.inpu{
    width: 150px;
    height: 32px;
    border-radius: 25px;
    border: 1px solid black;
    padding-left: 10px;
}
.bi-search{
    position: relative;
    left: -30px;
}
.dark{
    width: 63px;
    height: 35px;
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.dark:hover{
    background-color: rgb(216, 212, 219) ;
}
/* .search_icon{
    font-size: 18px;
} */
.rightside{
    width: 800px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /* background-color: chartreuse; */
}
.services{
    /* position: fixed; */
    display: flex;
    width: 370px;
    right: 15%;
    top: 1.8%;
    /* background-color: cornsilk; */
    justify-content: space-evenly;
    align-items: center;
}
.services div:hover{
    background-color: rgb(218, 214, 214);
}
.service{
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    /* background-color: aqua; */
}
.bi-briefcase, .bi-code-slash, .bi-patch-check{
    margin-right: 5px;
    font-size: 15px;
}
.service1{
    /* background-color: aqua;  */
    width: 75px; 
    height: 32px;  
    border-radius: 25px;
}
.service2{
    /* background-color: aqua;  */
    width: 85px; 
    height: 32px;  
    border-radius: 25px;
}
.service3{
    /* background-color: aqua;  */
    width: 135px; 
    height: 32px;  
    border-radius: 25px;
}
.buttons{
    /* margin-right: 40px; */
    display: flex;
    /* justify-content: flex-end; */
    width: 240px;
    color: rgb(255, 255, 255);
    /* justify-content: space-between; */
    /* background-color: cornflowerblue;     */
}
.btn{ 
    /* position: fixed; */
    /* background-color: brown; */
    border-radius: 25px;
    width: 90px;
    height: 45px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    /* position: fixed; */
    /* z-index: -1; */
    margin-left: -35px;
    right:10px;
    width:115px ;
    color: black;
    background-color: rgb(154, 230, 154);
}
.login p{
    margin-left: 5%;
}
.login:hover{
    background-color: #04AA6D;
    color: whitesmoke;
}
.signup{
    /* position: fixed; */
    margin-left: 10px;
    background-color: #04AA6D;
    z-index: 1;
}
.nav_bar2{
    height: 25px;
    display: flex;
    flex-direction: row;
    /* padding-top: 4%; */
    background-color: rgb(15, 13, 30);
    color: white;
    margin-top: 60px;
    position: fixed;
    /* margin-top: 160px; */
}
.items{
    width: 70px;
}
.nav_bar2 div:hover{
    background-color: black;
}
.nav_bar2 div:active{
    background-color: #04AA6D;
}
.items{
    /* flex: 1; */
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.content{
    background-color: rgb(15, 13, 30);
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.mainhead{
    font-size: 58px;
    font-weight: 700;
    margin-top: 45px;
}
.subhead1, .subhead2{
    font-size:21px;
    margin-top: -15px;
    font-weight:600;
}
.boxes{
    display: flex;
    /* background-color: rgb(236, 142, 2); */
    margin-top: 65px;
    width: 60%;
    height:30%;
    /* border-radius: 10px; */
}
.box{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.smallbox{
    /* background-color:green ; */
    width: 180px;
    height: 190px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 700;
    border-radius: 30px;
    border: 3px solid white;
}
.boxe1{
    background-color: #846bae;
    border-radius: 10px 0 0 10px;
}
.boxe2{
    background-color: #5f4884;
}
.boxe3{
    background-color: #6c3ec1;
    border-radius: 0 10px 10px 0;
}
.Lbootstrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    width: 45%;
    height: 7% ;
    /* background-color: aqua; */
    border-radius: 5px;
    border: 1px solid white;

}
.Lbootstrap:hover{
    background-color: white;
    color: black;
}
.Lbootstrap p{
    font-size: 18px;
}
.bi-chevron-double-right{
    font-size: 10px;
    margin-left: 5px;
}
.para{
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    text-align:center;
}
.footerhead{
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: rgb(15, 13, 30);

}
.logo{
    /* background-color: azure; */
    margin-left: -30px;
}
.smhead{
    display: flex;
    /* background-color: aqua; */
    margin-left: 100px;
    width: 60%;
}
.smhead1{
    flex: 1;
    font-weight: 500;
    color: rgb(154, 130, 12);
}
.footercontent{
    display: flex;
}
.content1, .content2, .content3, .content4{
    display: block;
}
.cntbody{
    display: block;
}
@media (max-width:500px){
    .mainhead{
        /* display: none; */
        font-size: 10px;
        font-weight:200px ;
        margin-top: 45px;
    }
    .subhead1, .subhead2{
        font-size:10px;
        /* margin-top: -px; */
        font-weight:600;
    }
}
@media (max-width:600px){
    .nav_item1, .nav_item2, .nav_item3, .nav_item4{
        display: none;
     
    }
    .nav_content{
        width: 100px;
    }
    .nav_menu{
        display: block;
        justify-content: center;
        align-items: center;
        /* margin-left: 45px; */
    }
    .drp_button{
        display: flex;
        align-items: center;
        justify-content: center ;
    }
   
    .dropdown_menu{
        display: none;
        position: absolute;
        /* background-color: #f9f9f9; */
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        /* display: flex; */
        justify-content: space-between;
        border-radius: 0 25px 25px 25px;
    }
    .dropdown_menu a{
        display: block;
        margin-left: 25px;
        color: white;
    }
    .dropdown_menu1{
        margin-top: 10px;
    }
    .nav_menu:hover .dropdown_menu {
        display: block;
        background-color: rgb(18, 17, 30);
    }
    .rightside{
        display: flex;
        justify-content: flex-start;
        width:300px;
    }
    .mainhead{
        font-size: 48px;
        font-weight: 700;
        margin-top: 45px;
    }
    .subhead1, .subhead2{
        font-size:10px;
        /* margin-top: -px; */
        font-weight:600;
    }
}
@media (max-width:800px){
    .inpu{
        display: none;
    }
    .bi-search{
        left: 15px;
    }
    .dark{
        margin-left: 40px;
    }
  
    .main{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    .boxes{
        display: block;
        /* width: 100%; */
    }
    .boxe1{
        border-radius: 10px 10px 0 0;
    }
    .boxe3{
        border-radius: 0 0 10px 10px;
    }
    .rightside{
        display: flex;
        justify-content: flex-start;
        width:300px;
    }
    .subhead1, .subhead2{
        font-size:18px;
        /* margin-top: -px; */
        font-weight:600;
    }
    
     
}
@media (max-width:900px){
    .nav_item2{
        display: none;
    }
}
@media (max-width:1200px){
   
    .service1{
        display: none;
    }
    /* .nav_bar1{
        width: 0vw;
    } */
    .main{
        width: 100%;
    }.content{
        width: 100%;
    }
    .rightside{
        display: flex;
        justify-content: flex-start;
      }
      .nav_item3{
        display: none;
      }
      .rightside{
        display: flex;
        justify-content: flex-start;
        width:400px;
      }
      .Lbootstrap{
        width: 180px;
    }
    .Lbootstrap p{
        font-size: 15px;
    }.Lbootstrap i{
        font-size: 8px;
    }
}
@media (max-width:1150px){
    .service2{
        display: none;
    }
    .main{
        width: 100%;
    }.content{
        width: 100%;
    }
    .smallbox{
        width: 120px;
        height: 140px;
        font-size: 55px;
    }
    .Lbootstrap{
        width: 180px;
    }
    .Lbootstrap p{
        font-size: 15px;
    }.Lbootstrap i{
        font-size: 8px;
    }
    .rightside{
        display: flex;
        justify-content: flex-start;
        width:400px;
      }
}
@media (max-width:1050px){
    .service3{
        display: none;
    }
    .main{
        width: 100%;
    }.content{
        width: 100%;
    }
    .rightside{
        display: flex;
        justify-content: flex-start;
        width:350px;
      }
      .Lbootstrap{
        width: 130px;
    }
    .Lbootstrap p{
        font-size: 13px;
    }.Lbootstrap i{
        font-size: 8px;
    }
}
@media (max-width:1900px){
    .Lbootstrap{
        width: 150px;
    }
    .Lbootstrap p{
        font-size: 13px;
    }.Lbootstrap i{
        font-size: 8px;
    }
}