@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
}
.nav_bar1{
    /* background-color: aquamarine; */
    display: flex;
    height: 60px;
    /* position: fixed; */
    
}
.logo img{
    width: 40px;
    margin-left: 10px;
    margin-top:10px ;
}
.nav_item{
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
}
.nav_content{
    margin-left: 15px;
    width: 800px;
    display: flex;
    /* background-color: red; */
}
.nav_item1, .nav_item2, .nav_item3, .nav_item4{
    display: flex;
    flex: 1;
    justify-content: center;
    /* background-color: blueviolet; */
}
.bi-caret-down-fill{
    font-size: 12px;
    margin-top: 3px;
    margin-left: 2px;
}
.nav_content div:hover{
    background-color: #04AA6D;
    color: white;
}
.search{
    width: fit-content;
    /* background-color: blue; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 1px;
}
.inpu{
    width: 150px;
    height: 32px;
    border-radius: 25px;
    border: 1px solid black;
    padding-left: 10px;
}
.bi-search{
    position: relative;
    left: -30px;
}
.dark{
    width: 63px;
    height: 35px;
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.dark:hover{
    background-color: rgb(216, 212, 219) ;
}
/* .search_icon{
    font-size: 18px;
} */
.rightside{
    width: 1500px;
    display: flex;
    justify-content: flex-end;
    /* background-color: chartreuse; */
}
.services{
    display: flex;
    width: 400px;
    /* background-color: cornsilk; */
    justify-content: space-evenly;
    align-items: center;
}
.services div:hover{
    background-color: rgb(218, 214, 214);
}
.service{
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    /* background-color: aqua; */
}
.bi-briefcase, .bi-code-slash, .bi-patch-check{
    margin-right: 5px;
    font-size: 15px;
}
.service1{
    /* background-color: aqua;  */
    width: 75px; 
    height: 32px;  
    border-radius: 25px;
}
.service2{
    /* background-color: aqua;  */
    width: 85px; 
    height: 32px;  
    border-radius: 25px;
}
.service3{
    /* background-color: aqua;  */
    width: 135px; 
    height: 32px;  
    border-radius: 25px;
}
.buttons{
    margin-right: 40px;
    display: flex;
    width: 180px;
    color: white;
    /* justify-content: space-between; */
    /* background-color: cornflowerblue;     */
}
.btn{
    background-color: brown;
    border-radius: 25px;
    width: 90px;
    height: 45px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    position: fixed;
    z-index: -1;
    right:3.5%;
    width:115px ;
    color: black;
    background-color: rgb(154, 230, 154);
}
.login p{
    margin-left: 18px;
}
.signup{
    position: fixed;
    right: 8.5%;
    background-color: #04AA6D;
}
.nav_bar2{
    height: 25px;
    display: flex;
    background-color: rgb(15, 13, 30);
    color: white;
    /* position: fixed; */
}
.nav_bar2 div:hover{
    background-color: black;
}
.nav_bar2 div:active{
    background-color: #04AA6D;
}
.items{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.content{
    background-color: rgb(15, 13, 30);
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.mainhead{
    font-size: 58px;
    font-weight: 700;
    margin-top: 45px;
}
.subhead1, .subhead2{
    font-size:21px;
    margin-top: -15px;
    font-weight:600;
}
.boxes{
    display: flex;
    /* background-color: rgb(236, 142, 2); */
    margin-top: 65px;
    width: 1160px;
    height:500px;
    /* border-radius: 10px; */
}
.box{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.smallbox{
    /* background-color:green ; */
    width: 48%;
    height: 33%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 700;
    border-radius: 30px;
    border: 3px solid white;
}
.boxe1{
    background-color: #846bae;
}
.boxe2{
    background-color: #5f4884;
}
.boxe3{
    background-color: #6c3ec1;
}
.Lbootstrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    width: 45%;
    height: 7% ;
    /* background-color: aqua; */
    border-radius: 5px;
    border: 1px solid white;

}
.Lbootstrap:hover{
    background-color: white;
    color: black;
}
.Lbootstrap p{
    font-size: 18px;
}
.bi-chevron-double-right{
    font-size: 10px;
    margin-left: 5px;
}
.para{
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    text-align:center;
}
@media (max-width:800px){
    .boxes{
        display: block;
        width: 100%;
    }
    .content{
        width: 100%;
    }
    .inpu{
        display: none;
    }
    .service3{
        display: none;
    }
}
@media (max-width:1200px){
    .service1{
        display: none;
    }
}
@media (max-width:1100px){
    .service2{
        display: none;
    }
}